
.vscode/launch.json
~$new.xlsx
~$foo2.xlsx
~$foo.xlsx
new.xlsx
foo2.xlsx
foo.xlsx
foo.csv
csvs/file1.csv
__pycache__/poker.cpython-37.pyc
results/csvs/file1.csv
results/csvs/result.csv
*.pyc
__pycache__/poker.cpython-37.pyc
results/csvs/result2.csv
results/csvs/smarter.csv
results/csvs/smarter2.csv
startpl.bat
